# AI Lab 8
### Name: Mehwish
### Class: BSDS 3A
### Roll no: 061

<div class="alert alert-block alert-info">
import <b> Libraries </b>

<div class="alert alert-block alert-info">
 <b> 1. Data gathering  <br> 2. Data loading</b>

In [47]:
import pandas as pd

In [48]:
df = pd.read_csv('data.csv')
print(df.head())

         Date        Open        High         Low       Close   Adj Close  \
0  2018-02-05  262.000000  267.899994  250.029999  254.259995  254.259995
1  2018-02-06  247.699997  266.700012  245.000000  265.720001  265.720001
2  2018-02-07  266.579987  272.450012  264.329987  264.559998  264.559998
3  2018-02-08  267.079987  267.619995  250.000000  250.100006  250.100006
4  2018-02-09  253.850006  255.800003  236.110001  249.470001  249.470001

     Volume
0  11896100
1  12595800
2   8981500
3   9306700
4  16906900

<div class="alert alert-block alert-info">
 <b> Data exportation </b>
 </div>

In [49]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [50]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900

In [51]:
df.tail

<bound method NDFrame.tail of             Date        Open        High         Low       Close   Adj Close  \
0     2018-02-05  262.000000  267.899994  250.029999  254.259995  254.259995
1     2018-02-06  247.699997  266.700012  245.000000  265.720001  265.720001
2     2018-02-07  266.579987  272.450012  264.329987  264.559998  264.559998
3     2018-02-08  267.079987  267.619995  250.000000  250.100006  250.100006
4     2018-02-09  253.850006  255.800003  236.110001  249.470001  249.470001
...          ...         ...         ...         ...         ...         ...
1004  2022-01-31  401.970001  427.700012  398.200012  427.140015  427.140015
1005  2022-02-01  432.959991  458.480011  425.540009  457.130005  457.130005
1006  2022-02-02  448.250000  451.980011  426.480011  429.480011  429.480011
1007  2022-02-03  421.440002  429.260010  404.279999  405.600006  405.600006
1008  2022-02-04  407.309998  412.769989  396.640015  410.170013  410.170013

        Volume
0     11896100
1     12595800
2      8981500
3      9306700
4     16906900
...        ...
1004  20047500
1005  22542300
1006  14346000
1007   9905200
1008   7782400

[1009 rows x 7 columns]>

In [52]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1.009000e+03
mean,419.059673,425.320703,412.374044,419.000733,419.000733,7.570685e+06
std,108.537532,109.262960,107.555867,108.289999,108.289999,5.465535e+06
min,233.919998,250.649994,231.229996,233.880005,233.880005,1.144000e+06
25%,331.489990,336.299988,326.000000,331.619995,331.619995,4.091900e+06
50%,377.769989,383.010010,370.880005,378.670013,378.670013,5.934500e+06
75%,509.130005,515.630005,502.529999,509.079987,509.079987,9.322400e+06
max,692.349976,700.989990,686.090027,691.690002,691.690002,5.890430e+07

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1009 non-null   object
 1   Open       1009 non-null   float64
 2   High       1009 non-null   float64
 3   Low        1009 non-null   float64
 4   Close      1009 non-null   float64
 5   Adj Close  1009 non-null   float64
 6   Volume     1009 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 55.3+ KB

In [54]:
df["Volume"].unique()

array([11896100, 12595800,  8981500, ..., 14346000,  9905200,  7782400],
      shape=(1005,))

In [55]:
df.nunique()

Date         1009
Open          976
High          983
Low           989
Close         988
Adj Close     988
Volume       1005
dtype: int64

In [56]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [57]:
df.count()

Date         1009
Open         1009
High         1009
Low          1009
Close        1009
Adj Close    1009
Volume       1009
dtype: int64

<div class="alert alert-block alert-info">
    4. <b>Data Pre-Processing</b>
</div>

In [58]:
df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]
print("\n Cleaned Column Names:")
print(df.columns)

 Cleaned Column Names:
Index(['date', 'open', 'high', 'low', 'close', 'adj_close', 'volume'], dtype='object')

In [59]:
print("\n Checking for missing values before handling:")
print(df.isnull().sum())

 Checking for missing values before handling:
date         0
open         0
high         0
low          0
close        0
adj_close    0
volume       0
dtype: int64

In [60]:
for col in df.columns:
    if df[col].isnull().sum() > 0:
        if df[col].dtype in ['float64', 'int64']:
            df[col].fillna(df[col].mean(), inplace=True)
        else:
            df[col].fillna(df[col].mode()[0], inplace=True)
print("\n Missing values handled successfully!")
print(df.isnull().sum())

 Missing values handled successfully!
date         0
open         0
high         0
low          0
close        0
adj_close    0
volume       0
dtype: int64

In [61]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df = df.dropna(subset=['date']) 
print("\n 'date' converted to datetime format successfully.")

 'date' converted to datetime format successfully.

In [62]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['day_of_week'] = df['date'].dt.dayofweek

print("\n Extracted Year, Month, Day, and Day of Week columns.")

 Extracted Year, Month, Day, and Day of Week columns.

In [63]:
numeric_cols = ['open', 'high', 'low', 'close', 'adj_close', 'volume']
for col in numeric_cols:
    df[col] = df[col].astype(float).astype(int)

print("\n Numeric data converted to integers where appropriate!")

 Numeric data converted to integers where appropriate!

In [64]:
duplicates = df.duplicated().sum()
if duplicates > 0:
    df = df.drop_duplicates()
print(f"\n Removed {duplicates} duplicate rows.")

 Removed 0 duplicate rows.

In [65]:
print("\n Summary Statistics:")
print(df.describe())

 Summary Statistics:
                                date         open         high          low  \
count                           1009  1009.000000  1009.000000  1009.000000
mean   2020-02-05 07:30:58.870168320   418.630327   424.813677   411.933598
min              2018-02-05 00:00:00   233.000000   250.000000   231.000000
25%              2019-02-06 00:00:00   331.000000   336.000000   326.000000
50%              2020-02-06 00:00:00   377.000000   383.000000   370.000000
75%              2021-02-05 00:00:00   509.000000   515.000000   502.000000
max              2022-02-04 00:00:00   692.000000   700.000000   686.000000
std                              NaN   108.551205   109.263711   107.544013

             close    adj_close        volume         year        month  \
count  1009.000000  1009.000000  1.009000e+03  1009.000000  1009.000000
mean    418.489594   418.489594  7.570685e+06  2019.595639     6.540139
min     233.000000   233.000000  1.144000e+06  2018.000000     1.000000
25%     331.000000   331.000000  4.091900e+06  2019.000000     4.000000
50%     378.000000   378.000000  5.934500e+06  2020.000000     7.000000
75%     509.000000   509.000000  9.322400e+06  2021.000000    10.000000
max     691.000000   691.000000  5.890430e+07  2022.000000    12.000000
std     108.289360   108.289360  5.465535e+06     1.155997     3.428207

               day  day_of_week
count  1009.000000  1009.000000
mean     15.717542     2.014866
min       1.000000     0.000000
25%       8.000000     1.000000
50%      16.000000     2.000000
75%      23.000000     3.000000
max      31.000000     4.000000
std       8.759264     1.402512

In [ ]:
print("\n Final Preprocessed Dataset:")
print(df.head())

In [ ]:
df.to_csv("cleaned_data.csv", index=False)
print("\n Cleaned dataset saved as 'cleaned_data.csv' successfully!")